{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 5
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "$": true,
    "jQuery": true
  },
  "plugins": [
    "html"
  ]
}
